header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  width: 100vw;
}

header img {
  height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5;
}

.taskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -1.5rem;
}

.taskForm > input {
  background: var(--gray-500);
  width: 39.875rem;
  height: 3.375rem;
  border: 1 solid var(--gray-700);
  border-radius: 8px;
  margin-right: 0.5rem;
  padding-left: 1rem;
  font-size: 16px;
}

.taskForm > button {
  background: var(--blue-dark);
  border: 1 solid var(--gray-700);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
  text-decoration: none;

  padding: 0.75rem;
  gap: 0.5rem;

  width: 5.625rem;
  height: 3.25rem;
}


.taskForm > button:focus{
  outline: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}


.content {
  width: 46rem;
  height: 3.6;
  padding-top: 5.5rem;
 
}

.taskCounter {
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
}

.taskCounter > p > span {
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 12px;
}

.taskCounter >p:nth-child(2) {
  color: var(--purple);
}

.noneTask {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 1.5rem 0;
  padding: 4rem 1.5rem;

  color: var(--gray-300);
  font-weight: 400;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.noneTask > img {
  margin-bottom: 1rem;
}

.noneTask > p {
  margin: 0;
  font-size: 16px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}